(
    name: "Antigua and Barbuda",
    code: "AG",
    population: 97928,
    capital: 0,
    cities: [
        (
            name: "Saint John\'s",
            coordinates: (
                lat: 17.12,
                lon: -61.85,
            ),
        ),
    ],
)