(
    name: "Anguilla",
    code: "AI",
    population: 13452,
    capital: 0,
    cities: [
        (
            name: "The Valley",
            coordinates: (
                lat: 18.22,
                lon: -63.05,
            ),
        ),
    ],
)