(
    name: "Antarctica",
    code: "AQ",
    population: 1000,
    capital: 0,
    cities: [
        (
            name: "Unknown",
            coordinates: (
                lat: 0.0,
                lon: 0.0,
            ),
        ),
    ],
)