(
    name: "Aruba",
    code: "AW",
    population: 106766,
    capital: 0,
    cities: [
        (
            name: "Oranjestad",
            coordinates: (
                lat: 12.52,
                lon: -70.03,
            ),
        ),
    ],
)