(
    name: "Åland Islands",
    code: "AX",
    population: 29458,
    capital: 0,
    cities: [
        (
            name: "Mariehamn",
            coordinates: (
                lat: 60.12,
                lon: 19.9,
            ),
        ),
    ],
)