(
    name: "Saint Barthélemy",
    code: "BL",
    population: 4255,
    capital: 0,
    cities: [
        (
            name: "Gustavia",
            coordinates: (
                lat: 17.88,
                lon: -62.85,
            ),
        ),
    ],
)