(
    name: "Brunei",
    code: "BN",
    population: 437483,
    capital: 0,
    cities: [
        (
            name: "Bandar Seri Begawan",
            coordinates: (
                lat: 4.88,
                lon: 114.93,
            ),
        ),
    ],
)