(
    name: "Cocos (Keeling) Islands",
    code: "CC",
    population: 544,
    capital: 0,
    cities: [
        (
            name: "West Island",
            coordinates: (
                lat: -12.17,
                lon: 96.83,
            ),
        ),
    ],
)