(
    name: "Switzerland",
    code: "CH",
    population: 8654622,
    capital: 6,
    cities: [
//         (
//             name: "Zurich",
//             coordinates: (
//                 lat: 47.374444444,
//                 lon: 8.541111111,
//             ),
//         ),
//         (
//             name: "Geneva",
//             coordinates: (
//                 lat: 46.2,
//                 lon: 6.15,
//             ),
//         ),
//         (
//             name: "Canton of Basel-Stadt",
//             coordinates: (
//                 lat: 47.566666666,
//                 lon: 7.6,
//             ),
//         ),
//         (
//             name: "Basel",
//             coordinates: (
//                 lat: 47.560555555,
//                 lon: 7.590555555,
//             ),
//         ),
//         (
//             name: "Lausanne",
//             coordinates: (
//                 lat: 46.533333333,
//                 lon: 6.633333333,
//             ),
//         ),
//         (
//             name: "Lausanne",
//             coordinates: (
//                 lat: 46.516,
//                 lon: 6.63282,
//             ),
//         ),
        (
            name: "Bern",
            coordinates: (
                lat: 46.94798,
                lon: 7.44743,
            ),
        ),
//         (
//             name: "Winterthur",
//             coordinates: (
//                 lat: 47.4992,
//                 lon: 8.72671,
//             ),
//         ),
//         (
//             name: "Lucerne",
//             coordinates: (
//                 lat: 47.0523,
//                 lon: 8.3059,
//             ),
//         ),
//         (
//             name: "St. Gallen",
//             coordinates: (
//                 lat: 47.423333333,
//                 lon: 9.377222222,
//             ),
//         ),
        (
            name: "Lugano",
            coordinates: (
                lat: 46.010277777,
                lon: 8.9625,
            ),
        ),
//         (
//             name: "Biel/Bienne",
//             coordinates: (
//                 lat: 47.137222222,
//                 lon: 7.247222222,
//             ),
//         ),
//         (
//             name: "Biel/Bienne",
//             coordinates: (
//                 lat: 47.13713,
//                 lon: 7.24608,
//             ),
//         ),
//         (
//             name: "Kreis 3",
//             coordinates: (
//                 lat: 47.366666666,
//                 lon: 8.516666666,
//             ),
//         ),
//         (
//             name: "Thun",
//             coordinates: (
//                 lat: 46.759,
//                 lon: 7.63,
//             ),
//         ),
//         (
//             name: "Bellinzona",
//             coordinates: (
//                 lat: 46.195555,
//                 lon: 9.023809,
//             ),
//         ),
//         (
//             name: "Köniz",
//             coordinates: (
//                 lat: 46.925,
//                 lon: 7.415277777,
//             ),
//         ),
//         (
//             name: "Köniz",
//             coordinates: (
//                 lat: 46.92436,
//                 lon: 7.41457,
//             ),
//         ),
    ],
)
