(
    name: "Cook Islands",
    code: "CK",
    population: 18100,
    capital: 0,
    cities: [
        (
            name: "Avarua",
            coordinates: (
                lat: -21.2,
                lon: -159.77,
            ),
        ),
    ],
)