(
    name: "China",
    code: "CN",
    population: 1402112000,
    capital: 2,
    cities: [
        (
            name: "Chongqing",
            coordinates: (
                lat: 29.55,
                lon: 106.506944444,
            ),
        ),
        (
            name: "Shanghai",
            coordinates: (
                lat: 31.232222222,
                lon: 121.469166666,
            ),
        ),
        (
            name: "Beijing",
            coordinates: (
                lat: 39.90403,
                lon: 116.407526,
            ),
        ),
        (
            name: "Chengdu",
            coordinates: (
                lat: 30.66,
                lon: 104.063333333,
            ),
        ),
        (
            name: "Guangzhou",
            coordinates: (
                lat: 23.13,
                lon: 113.26,
            ),
        ),
//         (
//             name: "Shenzhen",
//             coordinates: (
//                 lat: 22.546666666,
//                 lon: 114.054444444,
//             ),
//         ),
        (
            name: "Tianjin",
            coordinates: (
                lat: 39.146666666,
                lon: 117.205555555,
            ),
        ),
        (
            name: "Xi\'an",
            coordinates: (
                lat: 34.261111111,
                lon: 108.942222222,
            ),
        ),
        (
            name: "Suzhou",
            coordinates: (
                lat: 31.3,
                lon: 120.619444444,
            ),
        ),
        (
            name: "Zhengzhou",
            coordinates: (
                lat: 34.74919,
                lon: 113.66051,
            ),
        ),
        (
            name: "Wuhan",
            coordinates: (
                lat: 30.595,
                lon: 114.2975,
            ),
        ),
//         (
//             name: "Chongqing Shi",
//             coordinates: (
//                 lat: 29.55,
//                 lon: 106.55,
//             ),
//         ),
        (
            name: "Hangzhou",
            coordinates: (
                lat: 30.25,
                lon: 120.1675,
            ),
        ),
        (
            name: "Baoding",
            coordinates: (
                lat: 38.86712,
                lon: 115.48452,
            ),
        ),
        (
            name: "Linyi",
            coordinates: (
                lat: 35.10408,
                lon: 118.35019,
            ),
        ),
        (
            name: "Shijiazhuang",
            coordinates: (
                lat: 38.0425,
                lon: 114.51,
            ),
        ),
//         (
//             name: "Dongguan",
//             coordinates: (
//                 lat: 23.01797,
//                 lon: 113.74866,
//             ),
//         ),
        (
            name: "Qingdao",
            coordinates: (
                lat: 36.116666666,
                lon: 120.4,
            ),
        ),
        (
            name: "Changsha",
            coordinates: (
                lat: 28.19874,
                lon: 112.97087,
            ),
        ),
        (
            name: "Harbin",
            coordinates: (
                lat: 45.75,
                lon: 126.633333333,
            ),
        ),
        (
            name: "Nanyang",
            coordinates: (
                lat: 32.99871,
                lon: 112.52921,
            ),
        ),
        (
            name: "Wenzhou",
            coordinates: (
                lat: 27.999128,
                lon: 120.656075,
            ),
        ),
//         (
//             name: "Foshan",
//             coordinates: (
//                 lat: 23.029167,
//                 lon: 113.105556,
//             ),
//         ),
        (
            name: "Handan",
            coordinates: (
                lat: 36.61161,
                lon: 114.48937,
            ),
        ),
        (
            name: "Ningbo",
            coordinates: (
                lat: 29.875,
                lon: 121.549166666,
            ),
        ),
        (
            name: "Weifang",
            coordinates: (
                lat: 36.716666666,
                lon: 119.1,
            ),
        ),
        (
            name: "Hefei",
            coordinates: (
                lat: 31.86389,
                lon: 117.28083,
            ),
        ),
        (
            name: "Nanjing",
            coordinates: (
                lat: 32.060833333,
                lon: 118.778888888,
            ),
        ),
        (
            name: "Jinan",
            coordinates: (
                lat: 36.666666666,
                lon: 116.983333333,
            ),
        ),
        (
            name: "Xuzhou",
            coordinates: (
                lat: 34.26104,
                lon: 117.18587,
            ),
        ),
        (
            name: "Shenyang",
            coordinates: (
                lat: 41.8025,
                lon: 123.428055555,
            ),
        ),
        (
            name: "Changchun",
            coordinates: (
                lat: 43.9,
                lon: 125.2,
            ),
        ),
        (
            name: "Zhoukou",
            coordinates: (
                lat: 33.62502,
                lon: 114.6418,
            ),
        ),
        (
            name: "Ganzhou",
            coordinates: (
                lat: 25.829166666,
                lon: 114.933611111,
            ),
        ),
        (
            name: "Heze",
            coordinates: (
                lat: 35.233333333,
                lon: 115.433333333,
            ),
        ),
        (
            name: "Quanzhou",
            coordinates: (
                lat: 24.91389,
                lon: 118.58583,
            ),
        ),
        (
            name: "Nanning",
            coordinates: (
                lat: 22.81667,
                lon: 108.31667,
            ),
        ),
        (
            name: "Kunming",
            coordinates: (
                lat: 25.043333333,
                lon: 102.706111111,
            ),
        ),
        (
            name: "Jining",
            coordinates: (
                lat: 35.4,
                lon: 116.566666666,
            ),
        ),
        (
            name: "Fuzhou",
            coordinates: (
                lat: 26.06139,
                lon: 119.30611,
            ),
        ),
        (
            name: "Fuyang",
            coordinates: (
                lat: 32.9,
                lon: 115.81667,
            ),
        ),
        (
            name: "Shangqiu",
            coordinates: (
                lat: 34.42592,
                lon: 115.64673,
            ),
        ),
//         (
//             name: "Nantong",
//             coordinates: (
//                 lat: 31.98288,
//                 lon: 120.8873,
//             ),
//         ),
        (
            name: "Tangshan",
            coordinates: (
                lat: 39.629444444,
                lon: 118.173888888,
            ),
        ),
//         (
//             name: "Wuxi",
//             coordinates: (
//                 lat: 31.566667,
//                 lon: 120.283333,
//             ),
//         ),
        (
            name: "Dalian",
            coordinates: (
                lat: 38.91222,
                lon: 121.60222,
            ),
        ),
        (
            name: "Cangzhou",
            coordinates: (
                lat: 38.30369,
                lon: 116.84519,
            ),
        ),
//         (
//             name: "Xingtai",
//             coordinates: (
//                 lat: 37.06594,
//                 lon: 114.47531,
//             ),
//         ),
        (
            name: "Yantai",
            coordinates: (
                lat: 37.47649,
                lon: 121.44081,
            ),
        ),
        (
            name: "Luoyang",
            coordinates: (
                lat: 34.65867,
                lon: 112.42447,
            ),
        ),
    ],
)
