(
    name: "Curaçao",
    code: "CW",
    population: 155014,
    capital: 0,
    cities: [
        (
            name: "Willemstad",
            coordinates: (
                lat: 12.1,
                lon: -68.92,
            ),
        ),
    ],
)