(
    name: "Christmas Island",
    code: "CX",
    population: 2072,
    capital: 0,
    cities: [
        (
            name: "Flying Fish Cove",
            coordinates: (
                lat: -10.42,
                lon: 105.68,
            ),
        ),
    ],
)