(
    name: "Dominica",
    code: "DM",
    population: 71991,
    capital: 0,
    cities: [
        (
            name: "Roseau",
            coordinates: (
                lat: 15.3,
                lon: -61.4,
            ),
        ),
    ],
)