(
    name: "Western Sahara",
    code: "EH",
    population: 510713,
    capital: 0,
    cities: [
        (
            name: "El Aaiún",
            coordinates: (
                lat: -13.28,
                lon: 27.14,
            ),
        ),
    ],
)