(
    name: "Falkland Islands",
    code: "FK",
    population: 2563,
    capital: 0,
    cities: [
        (
            name: "Stanley",
            coordinates: (
                lat: -51.7,
                lon: -57.85,
            ),
        ),
    ],
)