(
    name: "Micronesia",
    code: "FM",
    population: 115021,
    capital: 0,
    cities: [
        (
            name: "Palikir",
            coordinates: (
                lat: 6.92,
                lon: 158.15,
            ),
        ),
    ],
)