(
    name: "Faroe Islands",
    code: "FO",
    population: 48865,
    capital: 0,
    cities: [
        (
            name: "Tórshavn",
            coordinates: (
                lat: 62.01,
                lon: -6.77,
            ),
        ),
    ],
)