(
    name: "Grenada",
    code: "GD",
    population: 112519,
    capital: 0,
    cities: [
        (
            name: "St. George\'s",
            coordinates: (
                lat: 32.38,
                lon: -64.68,
            ),
        ),
    ],
)