(
    name: "French Guiana",
    code: "GF",
    population: 254541,
    capital: 0,
    cities: [
        (
            name: "Cayenne",
            coordinates: (
                lat: 4.94,
                lon: -52.33,
            ),
        ),
    ],
)