(
    name: "Guernsey",
    code: "GG",
    population: 62999,
    capital: 0,
    cities: [
        (
            name: "St. Peter Port",
            coordinates: (
                lat: 49.45,
                lon: -2.54,
            ),
        ),
    ],
)