(
    name: "Gibraltar",
    code: "GI",
    population: 33691,
    capital: 0,
    cities: [
        (
            name: "Gibraltar",
            coordinates: (
                lat: 36.13,
                lon: -5.35,
            ),
        ),
    ],
)