(
    name: "Guadeloupe",
    code: "GP",
    population: 400132,
    capital: 0,
    cities: [
        (
            name: "Basse-Terre",
            coordinates: (
                lat: 16.03,
                lon: -61.73,
            ),
        ),
    ],
)