(
    name: "South Georgia",
    code: "GS",
    population: 30,
    capital: 0,
    cities: [
        (
            name: "King Edward Point",
            coordinates: (
                lat: -54.28,
                lon: -36.5,
            ),
        ),
    ],
)