(
    name: "Honduras",
    code: "HN",
    population: 9904608,
    capital: 1,
    cities: [
//         (
//             name: "Distrito Central",
//             coordinates: (
//                 lat: 14.105783333,
//                 lon: -87.204705555,
//             ),
//         ),
        (
            name: "Tegucigalpa",
            coordinates: (
                lat: 14.105783333,
                lon: -87.204705555,
            ),
        ),
//         (
//             name: "San Pedro Sula",
//             coordinates: (
//                 lat: 15.505322222,
//                 lon: -88.025083333,
//             ),
//         ),
//         (
//             name: "San Pedro Sula",
//             coordinates: (
//                 lat: 15.505322222,
//                 lon: -88.025083333,
//             ),
//         ),
//         (
//             name: "La Ceiba",
//             coordinates: (
//                 lat: 15.783344444,
//                 lon: -86.791777777,
//             ),
//         ),
//         (
//             name: "Choloma",
//             coordinates: (
//                 lat: 15.612711111,
//                 lon: -87.950694444,
//             ),
//         ),
//         (
//             name: "La Ceiba",
//             coordinates: (
//                 lat: 15.783344444,
//                 lon: -86.791777777,
//             ),
//         ),
//         (
//             name: "Danlí",
//             coordinates: (
//                 lat: 14.032438888,
//                 lon: -86.568288888,
//             ),
//         ),
//         (
//             name: "El Progreso",
//             coordinates: (
//                 lat: 15.400913888,
//                 lon: -87.812019444,
//             ),
//         ),
//         (
//             name: "Choluteca",
//             coordinates: (
//                 lat: 13.3061,
//                 lon: -87.195563888,
//             ),
//         ),
//         (
//             name: "Villanueva",
//             coordinates: (
//                 lat: 15.315672222,
//                 lon: -87.993230555,
//             ),
//         ),
//         (
//             name: "Comayagua",
//             coordinates: (
//                 lat: 14.452766666,
//                 lon: -87.637925,
//             ),
//         ),
//         (
//             name: "Choloma",
//             coordinates: (
//                 lat: 15.612711111,
//                 lon: -87.950694444,
//             ),
//         ),
//         (
//             name: "Juticalpa",
//             coordinates: (
//                 lat: 14.667172222,
//                 lon: -86.219583333,
//             ),
//         ),
//         (
//             name: "Puerto Cortés",
//             coordinates: (
//                 lat: 15.851433333,
//                 lon: -87.942669444,
//             ),
//         ),
//         (
//             name: "Catacamas",
//             coordinates: (
//                 lat: 14.848352777,
//                 lon: -85.893563888,
//             ),
//         ),
//         (
//             name: "Olanchito",
//             coordinates: (
//                 lat: 15.483602777,
//                 lon: -86.572505555,
//             ),
//         ),
//         (
//             name: "El Progreso",
//             coordinates: (
//                 lat: 15.4,
//                 lon: -87.8,
//             ),
//         ),
//         (
//             name: "Siguatepeque",
//             coordinates: (
//                 lat: 14.597777777,
//                 lon: -87.835311111,
//             ),
//         ),
//         (
//             name: "Tocoa",
//             coordinates: (
//                 lat: 15.65755,
//                 lon: -86.004972222,
//             ),
//         ),
//         (
//             name: "Yoro",
//             coordinates: (
//                 lat: 15.137913888,
//                 lon: -87.12495,
//             ),
//         ),
//         (
//             name: "Santa Cruz de Yojoa",
//             coordinates: (
//                 lat: 15.01086,
//                 lon: -87.82888,
//             ),
//         ),
//         (
//             name: "Ciudad Choluteca",
//             coordinates: (
//                 lat: 13.3061,
//                 lon: -87.195563888,
//             ),
//         ),
//         (
//             name: "La Lima",
//             coordinates: (
//                 lat: 15.440241666,
//                 lon: -87.927794444,
//             ),
//         ),
//         (
//             name: "Santa Rosa de Copán",
//             coordinates: (
//                 lat: 14.767525,
//                 lon: -88.7781,
//             ),
//         ),
//         (
//             name: "Trujillo",
//             coordinates: (
//                 lat: 15.917936111,
//                 lon: -85.952958333,
//             ),
//         ),
//         (
//             name: "Comayagua",
//             coordinates: (
//                 lat: 14.452766666,
//                 lon: -87.637925,
//             ),
//         ),
//         (
//             name: "Tela",
//             coordinates: (
//                 lat: 15.78245,
//                 lon: -87.451405555,
//             ),
//         ),
//         (
//             name: "Nacaome",
//             coordinates: (
//                 lat: 13.532519444,
//                 lon: -87.488141666,
//             ),
//         ),
//         (
//             name: "Intibucá",
//             coordinates: (
//                 lat: 14.43,
//                 lon: -88.17,
//             ),
//         ),
//         (
//             name: "San Manuel",
//             coordinates: (
//                 lat: 15.37279,
//                 lon: -87.90167,
//             ),
//         ),
//         (
//             name: "Puerto Cortez",
//             coordinates: (
//                 lat: 15.82562,
//                 lon: -87.92968,
//             ),
//         ),
//         (
//             name: "Quimistán",
//             coordinates: (
//                 lat: 15.41707,
//                 lon: -88.34713,
//             ),
//         ),
//         (
//             name: "Gracias",
//             coordinates: (
//                 lat: 14.588880555,
//                 lon: -88.580547222,
//             ),
//         ),
        (
            name: "Puerto Lempira",
            coordinates: (
                lat: 15.266408333,
                lon: -83.772530555,
            ),
        ),
//         (
//             name: "Trojes",
//             coordinates: (
//                 lat: 14.05966,
//                 lon: -86.00166,
//             ),
//         ),
//         (
//             name: "La Lima",
//             coordinates: (
//                 lat: 15.46,
//                 lon: -87.88,
//             ),
//         ),
//         (
//             name: "Marcovia",
//             coordinates: (
//                 lat: 13.286402777,
//                 lon: -87.313944444,
//             ),
//         ),
//         (
//             name: "El Negrito",
//             coordinates: (
//                 lat: 15.311591666,
//                 lon: -87.696986111,
//             ),
//         ),
//         (
//             name: "Omoa",
//             coordinates: (
//                 lat: 15.65873,
//                 lon: -88.12868,
//             ),
//         ),
//         (
//             name: "Danlí",
//             coordinates: (
//                 lat: 14.032438888,
//                 lon: -86.568288888,
//             ),
//         ),
//         (
//             name: "El Paraíso",
//             coordinates: (
//                 lat: 13.862377777,
//                 lon: -86.552316666,
//             ),
//         ),
//         (
//             name: "La Paz",
//             coordinates: (
//                 lat: 14.323358333,
//                 lon: -87.683202777,
//             ),
//         ),
//         (
//             name: "El Triunfo",
//             coordinates: (
//                 lat: 13.121413888,
//                 lon: -86.993177777,
//             ),
//         ),
//         (
//             name: "Sonaguera",
//             coordinates: (
//                 lat: 15.618452777,
//                 lon: -86.271158333,
//             ),
//         ),
//         (
//             name: "Siguatepeque",
//             coordinates: (
//                 lat: 14.597777777,
//                 lon: -87.835311111,
//             ),
//         ),
//         (
//             name: "Coxen Hole",
//             coordinates: (
//                 lat: 16.316705555,
//                 lon: -86.537480555,
//             ),
//         ),
//         (
//             name: "Santa Bárbara",
//             coordinates: (
//                 lat: 14.9,
//                 lon: -88.16,
//             ),
//         ),
//         (
//             name: "Teupasenti",
//             coordinates: (
//                 lat: 14.29,
//                 lon: -86.7,
//             ),
//         ),
//         (
//             name: "San Lorenzo",
//             coordinates: (
//                 lat: 13.421302777,
//                 lon: -87.448708333,
//             ),
//         ),
    ],
)
