(
    name: "Iran",
    code: "IR",
    population: 83992953,
    capital: 0,
    cities: [
        (
            name: "Tehran",
            coordinates: (
                lat: 35.688888888,
                lon: 51.389722222,
            ),
        ),
        (
            name: "Mashhad",
            coordinates: (
                lat: 36.297494444,
                lon: 59.605923055,
            ),
        ),
        (
            name: "Isfahan",
            coordinates: (
                lat: 32.6525,
                lon: 51.675,
            ),
        ),
//         (
//             name: "Karaj",
//             coordinates: (
//                 lat: 35.832777777,
//                 lon: 50.991666666,
//             ),
//         ),
        (
            name: "Shiraz",
            coordinates: (
                lat: 29.61,
                lon: 52.5425,
            ),
        ),
        (
            name: "Tabriz",
            coordinates: (
                lat: 38.073888888,
                lon: 46.296111111,
            ),
        ),
        (
            name: "Qom",
            coordinates: (
                lat: 34.64,
                lon: 50.876388888,
            ),
        ),
        (
            name: "Ahvaz",
            coordinates: (
                lat: 31.318888888,
                lon: 48.684166666,
            ),
        ),
        (
            name: "Kermanshah",
            coordinates: (
                lat: 34.31417,
                lon: 47.065,
            ),
        ),
        (
            name: "Urmia",
            coordinates: (
                lat: 37.548611111,
                lon: 45.0675,
            ),
        ),
        (
            name: "Rasht",
            coordinates: (
                lat: 37.276111111,
                lon: 49.588611111,
            ),
        ),
        (
            name: "Zahedan",
            coordinates: (
                lat: 29.4928874,
                lon: 60.8503017,
            ),
        ),
        (
            name: "Kerman",
            coordinates: (
                lat: 30.28321,
                lon: 57.07879,
            ),
        ),
        (
            name: "Yazd",
            coordinates: (
                lat: 31.897222222,
                lon: 54.3675,
            ),
        ),
        (
            name: "Ardabil",
            coordinates: (
                lat: 38.25,
                lon: 48.3,
            ),
        ),
        (
            name: "Ecbatana",
            coordinates: (
                lat: 34.8065,
                lon: 48.516247,
            ),
        ),
        (
            name: "Bandar Abbas",
            coordinates: (
                lat: 27.186388888,
                lon: 56.280833333,
            ),
        ),
        (
            name: "Arak",
            coordinates: (
                lat: 34.095,
                lon: 49.698055555,
            ),
        ),
//         (
//             name: "Eslamshahr",
//             coordinates: (
//                 lat: 35.55222,
//                 lon: 51.23504,
//             ),
//         ),
        (
            name: "Zanjan",
            coordinates: (
                lat: 36.666666666,
                lon: 48.483333333,
            ),
        ),
        (
            name: "Sanandaj",
            coordinates: (
                lat: 35.309722222,
                lon: 46.998888888,
            ),
        ),
        (
            name: "Qazvin",
            coordinates: (
                lat: 36.26877,
                lon: 50.0041,
            ),
        ),
        (
            name: "Khorramabad",
            coordinates: (
                lat: 33.466666666,
                lon: 48.35,
            ),
        ),
        (
            name: "Gorgan",
            coordinates: (
                lat: 36.846666666,
                lon: 54.43,
            ),
        ),
        (
            name: "Sari",
            coordinates: (
                lat: 36.56332,
                lon: 53.06009,
            ),
        ),
//         (
//             name: "Shahriar",
//             coordinates: (
//                 lat: 35.659722222,
//                 lon: 51.059166666,
//             ),
//         ),
//         (
//             name: "Qods",
//             coordinates: (
//                 lat: 35.721388888,
//                 lon: 51.108888888,
//             ),
//         ),
        (
            name: "Kashan",
            coordinates: (
                lat: 33.98237,
                lon: 51.42769,
            ),
        ),
//         (
//             name: "Malard",
//             coordinates: (
//                 lat: 35.665833333,
//                 lon: 50.976666666,
//             ),
//         ),
        (
            name: "Dezful",
            coordinates: (
                lat: 32.381111111,
                lon: 48.405833333,
            ),
        ),
//         (
//             name: "Nishapur",
//             coordinates: (
//                 lat: 36.213333333,
//                 lon: 58.795833333,
//             ),
//         ),
//         (
//             name: "Babol",
//             coordinates: (
//                 lat: 36.551111111,
//                 lon: 52.678611111,
//             ),
//         ),
//         (
//             name: "Ray",
//             coordinates: (
//                 lat: 35.5975,
//                 lon: 51.434444444,
//             ),
//         ),
//         (
//             name: "Khomeyni Shahr",
//             coordinates: (
//                 lat: 32.685555555,
//                 lon: 51.536111111,
//             ),
//         ),
        (
            name: "Sabzevar",
            coordinates: (
                lat: 36.2125,
                lon: 57.681944444,
            ),
        ),
//         (
//             name: "Andimeshk",
//             coordinates: (
//                 lat: 32.471946007,
//                 lon: 48.346700885,
//             ),
//         ),
//         (
//             name: "Amol",
//             coordinates: (
//                 lat: 36.469722222,
//                 lon: 52.350833333,
//             ),
//         ),
//         (
//             name: "Pakdasht",
//             coordinates: (
//                 lat: 35.478611111,
//                 lon: 51.683333333,
//             ),
//         ),
//         (
//             name: "Najafabad",
//             coordinates: (
//                 lat: 32.634722222,
//                 lon: 51.365277777,
//             ),
//         ),
//         (
//             name: "Borujerd",
//             coordinates: (
//                 lat: 33.897222222,
//                 lon: 48.751388888,
//             ),
//         ),
        (
            name: "Abadan",
            coordinates: (
                lat: 30.339166666,
                lon: 48.304166666,
            ),
        ),
//         (
//             name: "Qarchak",
//             coordinates: (
//                 lat: 35.439444444,
//                 lon: 51.568888888,
//             ),
//         ),
        (
            name: "Bojnord",
            coordinates: (
                lat: 37.466666666,
                lon: 57.333333333,
            ),
        ),
//         (
//             name: "Varamin",
//             coordinates: (
//                 lat: 35.324166666,
//                 lon: 51.645833333,
//             ),
//         ),
        (
            name: "Bushehr",
            coordinates: (
                lat: 28.96887,
                lon: 50.83657,
            ),
        ),
//         (
//             name: "Saveh",
//             coordinates: (
//                 lat: 35.021388888,
//                 lon: 50.356666666,
//             ),
//         ),
//         (
//             name: "Qaem Shahr",
//             coordinates: (
//                 lat: 36.463055555,
//                 lon: 52.86,
//             ),
//         ),
        (
            name: "Birjand",
            coordinates: (
                lat: 32.866388888,
                lon: 59.221111111,
            ),
        ),
//         (
//             name: "Nasimshahr",
//             coordinates: (
//                 lat: 35.565,
//                 lon: 51.163333333,
//             ),
//         ),
        (
            name: "Sirjan",
            coordinates: (
                lat: 29.451388888,
                lon: 55.680833333,
            ),
        ),
    ],
)
