(
    name: "Jersey",
    code: "JE",
    population: 100800,
    capital: 0,
    cities: [
        (
            name: "Saint Helier",
            coordinates: (
                lat: 49.18,
                lon: -2.1,
            ),
        ),
    ],
)