(
    name: "Kiribati",
    code: "KI",
    population: 119446,
    capital: 0,
    cities: [
        (
            name: "South Tarawa",
            coordinates: (
                lat: 1.33,
                lon: 172.98,
            ),
        ),
    ],
)