(
    name: "Comoros",
    code: "KM",
    population: 869595,
    capital: 0,
    cities: [
        (
            name: "Moroni",
            coordinates: (
                lat: -11.703611111,
                lon: 43.253611111,
            ),
        ),
    ],
)