(
    name: "Cayman Islands",
    code: "KY",
    population: 65720,
    capital: 0,
    cities: [
        (
            name: "George Town",
            coordinates: (
                lat: 19.3,
                lon: -81.38,
            ),
        ),
    ],
)