(
    name: "Luxembourg",
    code: "LU",
    population: 632275,
    capital: 0,
    cities: [
        (
            name: "Luxembourg",
            coordinates: (
                lat: 49.60982,
                lon: 6.13268,
            ),
        ),
    ],
)