(
    name: "Marshall Islands",
    code: "MH",
    population: 59194,
    capital: 0,
    cities: [
        (
            name: "Majuro",
            coordinates: (
                lat: 7.1,
                lon: 171.38,
            ),
        ),
    ],
)