(
    name: "Macau",
    code: "MO",
    population: 649342,
    capital: 0,
    cities: [
        (
            name: "Unknown",
            coordinates: (
                lat: 0.0,
                lon: 0.0,
            ),
        ),
    ],
)