(
    name: "Northern Mariana Islands",
    code: "MP",
    population: 57557,
    capital: 0,
    cities: [
        (
            name: "Saipan",
            coordinates: (
                lat: 15.2,
                lon: 145.75,
            ),
        ),
    ],
)