(
    name: "Martinique",
    code: "MQ",
    population: 378243,
    capital: 0,
    cities: [
        (
            name: "Fort-de-France",
            coordinates: (
                lat: 14.6,
                lon: -61.08,
            ),
        ),
    ],
)