(
    name: "Maldives",
    code: "MV",
    population: 540542,
    capital: 0,
    cities: [
        (
            name: "Malé",
            coordinates: (
                lat: 4.175,
                lon: 73.508333333,
            ),
        ),
    ],
)