(
    name: "Mexico",
    code: "MX",
    population: 128932753,
    capital: 0,
    cities: [
        (
            name: "Mexico City",
            coordinates: (
                lat: 19.353773,
                lon: -99.13589,
            ),
        ),
//         (
//             name: "Guadalajara metropolitan area",
//             coordinates: (
//                 lat: 20.08689,
//                 lon: -103.30994,
//             ),
//         ),
        (
            name: "Tijuana",
            coordinates: (
                lat: 32.536447,
                lon: -117.037155,
            ),
        ),
//         (
//             name: "Iztapalapa de Cuitláhuac",
//             coordinates: (
//                 lat: 19.35738,
//                 lon: -99.0671,
//             ),
//         ),
        (
            name: "Puebla",
            coordinates: (
                lat: 19.0412967,
                lon: -98.2061996,
            ),
        ),
//         (
//             name: "Zapopan",
//             coordinates: (
//                 lat: 20.783333333,
//                 lon: -103.483333333,
//             ),
//         ),
//         (
//             name: "Puebla City",
//             coordinates: (
//                 lat: 19.051388888,
//                 lon: -98.217777777,
//             ),
//         ),
        (
            name: "Guadalajara",
            coordinates: (
                lat: 20.683333333,
                lon: -103.333333333,
            ),
        ),
//         (
//             name: "Guadalajara",
//             coordinates: (
//                 lat: 20.676388888,
//                 lon: -103.342222222,
//             ),
//         ),
//         (
//             name: "Zapopan",
//             coordinates: (
//                 lat: 20.720833333,
//                 lon: -103.391111111,
//             ),
//         ),
//         (
//             name: "Gustavo A. Madero",
//             coordinates: (
//                 lat: 19.49016,
//                 lon: -99.10978,
//             ),
//         ),
//         (
//             name: "Ciudad Nezahualcóyotl",
//             coordinates: (
//                 lat: 19.40061,
//                 lon: -99.01483,
//             ),
//         ),
        (
            name: "Hermosillo",
            coordinates: (
                lat: 29.0,
                lon: -111.5,
            ),
        ),
        (
            name: "Aguascalientes City",
            coordinates: (
                lat: 21.880833333,
                lon: -102.296111111,
            ),
        ),
        (
            name: "Mérida",
            coordinates: (
                lat: 20.97,
                lon: -89.62,
            ),
        ),
//         (
//             name: "Mérida",
//             coordinates: (
//                 lat: 20.95,
//                 lon: -89.616666666,
//             ),
//         ),
        (
            name: "Cancun",
            coordinates: (
                lat: 21.161416111,
                lon: -86.824811111,
            ),
        ),
        (
            name: "Chihuahua City",
            coordinates: (
                lat: 28.636944444,
                lon: -106.076944444,
            ),
        ),
//         (
//             name: "Saltillo",
//             coordinates: (
//                 lat: 25.423055555,
//                 lon: -100.991944444,
//             ),
//         ),
//         (
//             name: "Hermosillo",
//             coordinates: (
//                 lat: 29.075,
//                 lon: -110.958333333,
//             ),
//         ),
        (
            name: "Mexicali",
            coordinates: (
                lat: 32.62781,
                lon: -115.45446,
            ),
        ),
        (
            name: "Culiacán",
            coordinates: (
                lat: 24.790277777,
                lon: -107.387777777,
            ),
        ),
        (
            name: "Santiago de Querétaro",
            coordinates: (
                lat: 20.588055555,
                lon: -100.388055555,
            ),
        ),
        (
            name: "San Luis Potosí",
            coordinates: (
                lat: 22.15234,
                lon: -100.97135,
            ),
        ),
        (
            name: "Guadalupe",
            coordinates: (
                lat: 25.67678,
                lon: -100.25646,
            ),
        ),
        (
            name: "Torreón",
            coordinates: (
                lat: 25.54389,
                lon: -103.41898,
            ),
        ),
//         (
//             name: "San Pedro Tlaquepaque",
//             coordinates: (
//                 lat: 20.583333333,
//                 lon: -103.35,
//             ),
//         ),
        (
            name: "Centro",
            coordinates: (
                lat: 17.98633,
                lon: -92.88674,
            ),
        ),
        (
            name: "Durango",
            coordinates: (
                lat: 24.022777777,
                lon: -104.654444444,
            ),
        ),
//         (
//             name: "Tlaquepaque",
//             coordinates: (
//                 lat: 20.6369,
//                 lon: -103.3096,
//             ),
//         ),
//         (
//             name: "Coyoacán",
//             coordinates: (
//                 lat: 19.3467,
//                 lon: -99.16174,
//             ),
//         ),
//         (
//             name: "Chimalhuacán",
//             coordinates: (
//                 lat: 19.4375,
//                 lon: -98.954166666,
//             ),
//         ),
        (
            name: "Irapuato",
            coordinates: (
                lat: 20.674166666,
                lon: -101.3475,
            ),
        ),
        (
            name: "Reynosa",
            coordinates: (
                lat: 26.092222222,
                lon: -98.277777777,
            ),
        ),
        (
            name: "Tuxtla Gutiérrez",
            coordinates: (
                lat: 16.753055555,
                lon: -93.115555555,
            ),
        ),
//         (
//             name: "Tonalá",
//             coordinates: (
//                 lat: 20.62445,
//                 lon: -103.23423,
//             ),
//         ),
//         (
//             name: "Tonalá",
//             coordinates: (
//                 lat: 20.616666666,
//                 lon: -103.216666666,
//             ),
//         ),
        (
            name: "Ensenada",
            coordinates: (
                lat: 31.857777777,
                lon: -116.605833333,
            ),
        ),
        (
            name: "Matamoros",
            coordinates: (
                lat: 25.879722222,
                lon: -97.504166666,
            ),
        ),
//         (
//             name: "Cuautitlán Izcalli",
//             coordinates: (
//                 lat: 19.64388,
//                 lon: -99.21598,
//             ),
//         ),
//         (
//             name: "Tultitlán de Mariano Escobedo",
//             coordinates: (
//                 lat: 19.64655,
//                 lon: -99.16787,
//             ),
//         ),
        (
            name: "Mazatlán",
            coordinates: (
                lat: 23.241388888,
                lon: -106.409722222,
            ),
        ),
//         (
//             name: "Matamoros",
//             coordinates: (
//                 lat: 25.55,
//                 lon: -97.533333333,
//             ),
//         ),
//         (
//             name: "Ciudad López Mateos",
//             coordinates: (
//                 lat: 19.561111111,
//                 lon: -99.246944444,
//             ),
//         ),
        (
            name: "Ahome",
            coordinates: (
                lat: 25.89893,
                lon: -109.08106,
            ),
        ),
        (
            name: "Cajeme",
            coordinates: (
                lat: 27.50999,
                lon: -109.92944,
            ),
        ),
        (
            name: "Veracruz",
            coordinates: (
                lat: 19.18095,
                lon: -96.1429,
            ),
        ),
        (
            name: "Tepic",
            coordinates: (
                lat: 21.5,
                lon: -104.9,
            ),
        ),
        (
            name: "Xalapa",
            coordinates: (
                lat: 19.53124,
                lon: -96.91589,
            ),
        ),
//         (
//             name: "Xochimilco",
//             coordinates: (
//                 lat: 19.25785,
//                 lon: -99.10513,
//             ),
//         ),
    ],
)
