(
    name: "New Caledonia",
    code: "NC",
    population: 271960,
    capital: 0,
    cities: [
        (
            name: "Nouméa",
            coordinates: (
                lat: -22.27,
                lon: 166.45,
            ),
        ),
    ],
)