(
    name: "Norfolk Island",
    code: "NF",
    population: 2302,
    capital: 0,
    cities: [
        (
            name: "Kingston",
            coordinates: (
                lat: -29.05,
                lon: 167.97,
            ),
        ),
    ],
)