(
    name: "Nauru",
    code: "NR",
    population: 10834,
    capital: 0,
    cities: [
        (
            name: "Yaren",
            coordinates: (
                lat: -0.55,
                lon: 166.92,
            ),
        ),
    ],
)