(
    name: "Niue",
    code: "NU",
    population: 1470,
    capital: 0,
    cities: [
        (
            name: "Alofi",
            coordinates: (
                lat: -19.02,
                lon: -169.92,
            ),
        ),
    ],
)