(
    name: "Pitcairn Islands",
    code: "PN",
    population: 56,
    capital: 0,
    cities: [
        (
            name: "Adamstown",
            coordinates: (
                lat: -25.07,
                lon: -130.08,
            ),
        ),
    ],
)