(
    name: "Seychelles",
    code: "SC",
    population: 98462,
    capital: 0,
    cities: [
        (
            name: "Victoria",
            coordinates: (
                lat: -4.62,
                lon: 55.45,
            ),
        ),
    ],
)