(
    name: "Saint Helena, Ascension and Tristan da Cunha",
    code: "SH",
    population: 53192,
    capital: 0,
    cities: [
        (
            name: "Jamestown",
            coordinates: (
                lat: -15.93,
                lon: -5.72,
            ),
        ),
    ],
)