(
    name: "Svalbard and Jan Mayen",
    code: "SJ",
    population: 2562,
    capital: 0,
    cities: [
        (
            name: "Longyearbyen",
            coordinates: (
                lat: 78.22,
                lon: 15.63,
            ),
        ),
    ],
)