(
    name: "San Marino",
    code: "SM",
    population: 33938,
    capital: 0,
    cities: [
        (
            name: "City of San Marino",
            coordinates: (
                lat: 43.94,
                lon: 12.45,
            ),
        ),
    ],
)