(
    name: "São Tomé and Príncipe",
    code: "ST",
    population: 219161,
    capital: 0,
    cities: [
        (
            name: "São Tomé",
            coordinates: (
                lat: 0.333333333,
                lon: 6.733333333,
            ),
        ),
    ],
)