(
    name: "French Southern and Antarctic Lands",
    code: "TF",
    population: 400,
    capital: 0,
    cities: [
        (
            name: "Port-aux-Français",
            coordinates: (
                lat: 48.81,
                lon: -1.4,
            ),
        ),
    ],
)