(
    name: "Tokelau",
    code: "TK",
    population: 1411,
    capital: 0,
    cities: [
        (
            name: "Fakaofo",
            coordinates: (
                lat: -9.38,
                lon: -171.22,
            ),
        ),
    ],
)