(
    name: "Timor-Leste",
    code: "TL",
    population: 1318442,
    capital: 0,
    cities: [
        (
            name: "Dili",
            coordinates: (
                lat: -8.553611111,
                lon: 125.578333333,
            ),
        ),
    ],
)