(
    name: "United States Minor Outlying Islands",
    code: "UM",
    population: 300,
    capital: 0,
    cities: [
        (
            name: "Washington DC",
            coordinates: (
                lat: 0.0,
                lon: 0.0,
            ),
        ),
    ],
)