(
    name: "British Virgin Islands",
    code: "VG",
    population: 30237,
    capital: 0,
    cities: [
        (
            name: "Road Town",
            coordinates: (
                lat: 18.42,
                lon: -64.62,
            ),
        ),
    ],
)