(
    name: "United States Virgin Islands",
    code: "VI",
    population: 106290,
    capital: 0,
    cities: [
        (
            name: "Charlotte Amalie",
            coordinates: (
                lat: 18.35,
                lon: -64.93,
            ),
        ),
    ],
)