(
    name: "Vanuatu",
    code: "VU",
    population: 307150,
    capital: 0,
    cities: [
        (
            name: "Port Vila",
            coordinates: (
                lat: -17.73333,
                lon: 168.316667,
            ),
        ),
    ],
)