(
    name: "Kosovo",
    code: "XK",
    population: 1775378,
    capital: 0,
    cities: [
        (
            name: "Pristina",
            coordinates: (
                lat: 42.67,
                lon: 21.17,
            ),
        ),
    ],
)