(
    name: "Mayotte",
    code: "YT",
    population: 226915,
    capital: 0,
    cities: [
        (
            name: "Mamoudzou",
            coordinates: (
                lat: -12.78,
                lon: 45.22,
            ),
        ),
    ],
)