Weapon(
    id: "aim7",
    name: "Sidewinder",
    movement: Movement(
        speed: 100000.0
    ),
    model: Model(
        file: "aim7/scene.gltf",
        transformation: Transformation(
            scale: 1000.0,
            translation: (0.0, 0.0, 0.0),
            rotation: (0.0, 3.14159265, 0.0)
        )
    )
)