Weapon(
    id: "b2",
    name: "Spirit",
    movement: Movement(
        altitude: 20000.0,
        speed: 50000.0,
        settings: [FollowHeightMap]
    ),
    radar: Some(Radar(
        strength: 1.0,
        shape: Cone(
            length: 100000.0,
            radius: 100000.0,
        )
    )),
    model: Model(
        file: "b2/scene.gltf",
        transformation: Transformation(
            scale: 1000.0
        )
    ),
)